# DEEPaaS framework requirements
deepaas~=2.6.0
#webargs~=5.5.2
flaat~=1.1.1

# ML-related
torchmetrics==0.11.4
pytorch-lightning==2.0.1
lightning-utilities==0.8.0
segmentation-models-pytorch==0.3.3
transformers==4.30.1
mlflow

# Data & augmentation
albumentations==1.3.0
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
matplotlib
lz4
imageio
scikit-learn
scikit-image

# exceptions
numpy~=1.24.3

# Utilities
tqdm
requests
